html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #DDDDDD;
    font-family: sans-serif;
    overflow: hidden;
}

h1 {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 22pt;
    text-shadow: -1px -1px 0 #EEE, 1px -1px 0 #EEE, -1px 1px 0 #EEE, 1px 1px 0 #EEE, 4px 4px 2px rgba(150, 150, 150, 1);
    color: #001f3f;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

table {
    height: 100%;
    width: 100%;
    table-layout: auto;
}

table#typetable {
    table-layout: fixed;
    width: 200px;
    height: 50px;
    font-family: sans-serif;
    font-size: 16px;
    text-shadow: 1px 0px 2px rgba(150, 150, 150, 1);
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#blocklyArea {
    height: 100%;
}

#buttonarea {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    resize: inherit;
}


/*.interpreterdiv {
  display: inline-block;
  position: relative;
}*/

#helpbuttonsdiv {
    position: fixed;
    bottom: 15px;
    right: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#helptextdiv {
    position: relative;
    top: 20px;
    left: 20px;
    right: 20px;
    align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#helptitlediv {
    position: relative;
    text-align: center;
    top: 8px;
}

.helptext {
    font-family: sans-serif;
    font-size: 13pt;
    background-color: #DDD;
    overflow: hidden;
    resize: none;
    width: 95%;
    height: 12em;
    outline: none;
    border: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.helptext:focus {
    outline: 0 !important;
}

#outputdiv {
    position: absolute;
    right: 25px;
    bottom: 20px;
    z-index: 1001;
}

#typediv {
    position: absolute;
    left: 12px;
    bottom: 7px;
    z-index: 1001;
}

#codearea.collapsed {
    border-radius: 6px;
    background-color: #000;
    color: #DDD;
    font-family: sans-serif;
    font-size: 20px;
    overflow: hidden;
    resize: none;
    transition: all 0.3s ease;
    width: 99%;
    height: 2em;
    opacity: 0.48;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#codearea.expanded {
    outline: 0 !important;
    height: 10em;
    opacity: 0.95;
    text-align: left;
    overflow-y: visible;
}

/*.codearea:hover {
    opacity: 0.95;
}*/

.fancybuttons {
    -webkit-border-radius: 32;
    -moz-border-radius: 32;
    border-radius: 32px;
    -webkit-box-shadow: 1px 2px 5px #666666;
    -moz-box-shadow: 1px 2px 5px #666666;
    box-shadow: 1px 2px 5px #666666;
    color: #3d3b3d;
    font-size: 16px;
    background: #efefef;
    padding: 2.5px 5px 2.5px 5px;
    text-decoration: none;
    border: solid #1f628d 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fancybuttons:hover {
    -webkit-box-shadow: 1px 2px 11px #666666;
    -moz-box-shadow: 1px 2px 11px #666666;
    box-shadow: 1px 2px 11px #666666;
}

.fancybuttons:focus {
    outline: 0 !important;
}

.fancybuttons#turtlebutton {
    display: none;

}

.fancybuttons#run {
    background: #efefef url('../../media/play_icon.png') no-repeat right;
    padding-right: 28px;
}

.fancybuttons#clear {
    /*float: top;*/
    position: absolute;
    bottom: 36px;
    right: 118px;
    z-index: 1002;
}

.fancybuttons#restart {
    /*float: top;*/
    position: absolute;
    bottom: 36px;
    right: 50px;
    z-index: 1002;
}

.fancybuttons#interpreter {
    position: absolute;
    bottom: 36px;
    right: 173px;
    z-index: 1002;
}

.right {
    float: right;
    margin-right: 16px;
    margin-top: 5px;
}

.left {
    float: left;
    margin-left: 16px;
}

.top {
    float: top;
    vertical-align: top;
    margin-top: 16px;
}

.centre {
    display: table;
    margin: 0 auto;
}

#output {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#turtlecanvas {
    border-style: double;
    border-width: 3px;
    position: fixed;
    display: none;
    background-color: white;
    top: 250px;
    right: -180px;
    z-index: 1002;
    overflow: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}


/*#turtlecanvas {
  position: absolute;
  background-color: white;
  top:50%;
  left:50%;
  z-index:1002;
  width: 0px;
  height: 0px;
  overflow:auto;
  -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}*/

#blocklyDiv {
    position: absolute;
}

/* modal window stuff */
#backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 100;
}

#modalWindow {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 15em;
    height: 10em;
    margin: 5em;
    padding: 1em;
    background-color: #fff;
}

.modalButtons:hover {
    cursor: pointer;
}

.variable {
    padding: 1em;
}
.variable:hover {
    cursor: pointer;
}
